@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.projects {
  text-align: center;
  h2 {
    margin-bottom: 3rem;
    color: $color-primary-purple;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
}

.project-card {
  background-color: lighten($color-background-dark, 5%);
  border-radius: 0.8rem;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include device(mobile-small) {
    padding: 6px;
    padding-bottom: 10px;
    margin-right: 29px;
    margin-left: -15px;
    display: flex;
    align-items: center;
    
    h2, h3 { 
      text-align: center;
      font-size: 1.2rem; // Diminui o texto para não quebrar linha estranho
    }
    
    p {
      font-size: 0.9rem;
      padding: 0 5px;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  }

  h3 {
    color: $color-secondary-lilac;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    color: $color-text-muted;
    margin-bottom: 1.5rem;
    flex-grow: 1; // Permite que o parágrafo ocupe o espaço disponível
  }

  &__actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  &__button {
    @include button-style;
    background-color: $color-primary-purple;
    color: $color-text-light;
    &:hover {
      background-color: darken($color-primary-purple, 10%);
      transform: translateY(-2px);
    }

    &--demo {
      background-color: $color-text-muted;
      color: $color-background-dark;
      &:hover {
        background-color: darken($color-secondary-lilac, 10%);
      }
    }
  }
}
