
// Definição de tamanhos
$mobile: 480px;
$mobile-small: 320px;
$tablet: 768px;
$notebook: 1024px;

// Cores
$color-background-dark: #101318;
$color-primary-purple: #8B5CF6;
$color-primary-purple--2: #bf48ff;
$color-secondary-lilac: #a855f7;
$color-text-light: #FFFFFF;
$color-text-purpleLight: #FFFFFF;
$color-text-muted: #94A3B8; // Cinza azulado

// Fontes
$font-family-primary: 'Poppins', sans-serif;

// Tamanhos de tela
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;