@import '../../styles/abstracts/variables';

.about {
  text-align: center;
  h2 {
    margin-bottom: 2rem;
    color: $color-primary-purple;
  }
  p {
    margin-bottom: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
  }
}
