h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--color-text-light);
}

h1 {
  font-size: 3rem;
  @media (max-width: 480px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.1rem;
  color: var(--color-text-muted);
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}
